{
  "client_credentials": {
{% for type in ['operator', 'partner', 'monitor', 'custom_rate_operator'] %}
    "{{ type }}": [
{% set type_data = client_credentials.get(type) %}
{% for item in type_data.users %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ type_data.hashes.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ]{% if not loop.last %},{% endif %}

{% endfor %}
  },

  "external_credentials_password_key": "{{ admin_key }}",
  "external_credentials": {
{% for item in ripple_connect_partners %}
    "{{ item.address }}": {
      "id": "{{ item.username }}",
      "encrypted_password": "{{ encrypted_known_remote_passwords.results[loop.index0].stdout_lines[0] }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  },

  "ilp_credentials": {
{% for ledger in ilp_ledgers_info %}
    "{{ ledger.url }}/account/transact": {
      "cert_path": "{{ cert_path }}/{{ ripple_connect_crt_prefix }}-crt.pem",
      "key_path": "{{ key_path }}/{{ ripple_connect_crt_prefix }}-key.pem",
      "ca_path": "{{ ca_cert }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  },

  "database_username": "{{ ripple_connect_db_user }}",
  "encrypted_database_password": "{{ encrypted_database_password.stdout_lines[0] }}",
  "encrypted_database_password_key": "{{ admin_key }}",

{% for secret_result in ripple_connect_secrets.results %}
  "{{ secret_result.item }}": "{{ secret_result.stdout.split(' ')[2] }}",
{% endfor %}

{% if ripple_connect_rabbitmq %}
  "mq_username": "{{ ripple_connect_rabbitmq.mq_username }}",
  "encrypted_mq_password": "{{ encrypted_rabbitmq_password.stdout_lines[0] }}",
  "encrypted_mq_password_key": "{{ admin_key }}",

{% endif %}
  "usage_reports_key_path": "{{ key_path }}/{{ ripple_connect_crt_prefix }}-key.pem",
  "usage_reports_cert_path": "{{ cert_path }}/{{ ripple_connect_crt_prefix }}-crt.pem"
}