{% macro write_encrypted_password(index) -%}
{% if 'stdout' in encrypted_rc_passwords[index] %}{{ encrypted_rc_passwords[index].stdout }}{% else %}{{ existing_encrypted_rc_passwords[index].password }}{% endif %}
{%- endmacro %}
{
  "client_credentials": {
{% for type in ['operator', 'partner', 'monitor', 'custom_rate_operator'] %}
    "{{ type }}": [
{% set type_data = client_credentials.get(type) %}
{% for item in type_data.users %}
      {
        "id": "{{ item.username }}",
{% if ripple_solution_encrypt_secrets | default(True) | bool %}
        "hashed_password": "{{ type_data.hashes.results[loop.index0].stdout_lines[0] }}"
{% else %}
        "password": "{{ item.password }}"
{% endif %}
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ]{% if not loop.last %},{% endif %}

{% endfor %}
  },

{% if ripple_solution_encrypt_secrets | default(True) | bool %}
  "external_credentials_password_key": "{{ admin_key }}",
{% endif %}
  "external_credentials": {
{% for item in ripple_connect_partners %}
    "{{ item.address }}": {
      "id": "{{ item.username }}",
{% if ripple_solution_encrypt_secrets | default(True) | bool %}
      "encrypted_password": "{{ write_encrypted_password(ripple_connect_partners_pass_idx + loop.index0) }}"
{% else %}
      "password": "{{ item.password }}"
{% endif %}
    }{% if not loop.last %},{% endif %}

{% endfor %}
  },

  "ilp_credentials": {
{% for ledger in ilp_ledgers_info %}
    "{{ ledger.url }}/account/transact": {
      "cert_path": "{{ cert_path }}/{{ ripple_connect_crt_prefix }}-crt.pem",
      "key_path": "{{ key_path }}/{{ ripple_connect_crt_prefix }}-key.pem",
      "ca_path": "{{ ca_cert }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  },

  "database_username": "{{ ripple_connect_db_user }}",
{% if ripple_solution_encrypt_secrets | default(True) | bool %}
  "encrypted_database_password": "{{ write_encrypted_password(ripple_connect_db_pass_idx) }}",
  "encrypted_database_password_key": "{{ admin_key }}",
{% else %}
  "database_password": "{{ ripple_connect_db_pass }}",
{% endif %}

{% for secret_result in ripple_connect_secrets.results %}
  "{{ secret_result.item }}": "{{ secret_result.stdout.split(' ')[2] }}",
{% endfor %}

{% if ripple_connect_rabbitmq %}
  "mq_username": "{{ ripple_connect_rabbitmq.mq_username }}",
{% if ripple_solution_encrypt_secrets | default(True) | bool %}
  "encrypted_mq_password": "{{ write_encrypted_password(ripple_connect_rmq_pass_idx) }}",
  "encrypted_mq_password_key": "{{ admin_key }}",
{% else %}
  "mq_password": "{{ ripple_connect_rabbitmq.mq_password }}",
{% endif %}

{% endif %}
  "usage_reports_key_path": "{{ key_path }}/{{ ripple_connect_crt_prefix }}-key.pem",
  "usage_reports_cert_path": "{{ cert_path }}/{{ ripple_connect_crt_prefix }}-crt.pem"
}