{
  "dialect": "{{ ripple_solution_db_dialect }}",
  "host": "{{ ripple_connect_db_host }}",
  "port": "{{ ripple_connect_db_port | string }}",
  "database": "{{ ripple_connect_db_name }}"{% if ripple_connect_rabbitmq | default({}) %},

  "rabbitmq_config": {
{% for key, value in (ripple_connect_rabbitmq | default({})).iteritems() if key not in ['mq_password', 'mq_username'] %}
    "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}

{% endfor %}
  }
{% endif %}
}