{
    "domain": "{{ ripple_connect_info.host }}:{{ ripple_connect_info.port }}",

    "known_remotes": [
{% for item in ripple_connect_partners | default([]) %}
      {
        "domain": "{{ item.address }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],

    "connectors": [
{% if fx_connector_enabled | bool and fx_connector_install_local | default(False) | bool %}
      "{{ fx_connector_info.url }}"{% if ripple_connect_connectors | default([]) %},{% endif %}

{% endif %}
{% for item in ripple_connect_connectors | default([]) %}
      "{{ item.url }}"{% if not loop.last %},{% endif %}

{% endfor %}
    ],

    "validators": [
{% if ilp_validator_enabled | bool and ilp_validator_install_local | default(False) | bool %}
      {
        "iri": "{{ ilp_validator_info.url }}",
        "public_key": "{{ validator_key.stdout_lines[0].split(' ')[2] }}"
      }{% if ripple_connect_validators | default([]) %},{% endif %}

{% endif %}
{% for item in ripple_connect_validators | default([]) %}
      {
        "iri": "{{ item.iri }}",
        "public_key": "{{ item.public_key }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],

    "ledgers": {
{% for ledger in ilp_ledgers_info if ledger.install_local | default(False) | bool %}
      "{{ ledger.currency | upper }}": [{
        "address": "{{ ledger.currency | lower }}.{{ ledger.host }}",
        "account": "http{% if ledger.config.use_https | default(True) | bool %}s{% endif %}://{{ ledger.host }}:{{ ledger.port }}/account/{{ ripple_connect_ledger_user }}"
      }]{% if not loop.last or ripple_connect_ledgers | default([]) %},{% endif %}

{% endfor %}
{% for ledger in ripple_connect_ledgers | default([]) %}
      "{{ ledger.currency | upper }}": [{
        "address": "{{ ledger.address }}",
        "account": "{{ ledger.account }}"
      }]{% if not loop.last %},{% endif %}

{% endfor %}
    },

    "liquidity_provider_nostro_accounts": [
{% for ledger in ripple_connect_nostro_accounts | default([]) %}
      {
        "ledger_currency": "{{ ledger.currency }}",
        "ledger": "{{ ledger.url }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],

    "liquidity_to_validators_map": {
{% if fx_connector_enabled | bool and fx_connector_install_local | default(False) | bool %}
{% if fx_connector_use_validator_url | default('') != '' %}
      "{{ fx_connector_info.url }}": [ "{{ fx_connector_use_validator_url }}" ]{% if ripple_connect_connector_validator_pairs | default([]) %},{% endif %}

{% elif ilp_validator_enabled | bool and ilp_validator_install_local | default(False) | bool %}
      "{{ fx_connector_info.url }}": [ "{{ ilp_validator_info.url }}" ]{% if ripple_connect_connector_validator_pairs | default([]) %},{% endif %}

{% endif %}
{% endif %}
{% for item in ripple_connect_connector_validator_pairs | default([]) %}
      "{{ item.connector_url }}": [ "{{ item.validator_url }}" ]{% if not loop.last %},{% endif %}

{% endfor %}
    }
}