[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt             = no
x509_extensions    = v3_ca

[ req_distinguished_name ]
CN = {{ ansible_host }}-ca

[ v3_ca ]
basicConstraints = CA:TRUE, pathlen:0