{
  "ripple-connect": {
{% if ripple_connect_enabled | bool %}
    "RC_CONFIGS_PATH": "{{ ripple_solution_config_base }}",
    "RC_SECRETS_ENCRYPTED": {{ ripple_connect_secrets_encrypted }},
    "RC_ENABLE_UI": {{ ripple_connect_enable_ui }}
{% endif %}
  },

{% for ledger in ilp_ledgers %}
  "ledger{{ loop.index0 }}": {
    "LEDGER_HOSTNAME": "{{ ledger.host }}",
    "LEDGER_PORT": {{ ledger.port }},
    "LEDGER_DB_URI": "{{ ripple_solution_db_dialect }}://{{ ledger.db_user }}:{{ ledger.db_pass }}@{{ ledger.db_host }}:{{ ledger.db_port }}/{{ ledger.db_name }}",
    "LEDGER_TLS_KEY": "{{ key_path }}/{{ ledger_crt_prefix }}-key.pem",
    "LEDGER_TLS_CERTIFICATE": "{{ cert_path }}/{{ ledger_crt_prefix }}-crt.pem",
    "LEDGER_ADMIN_FINGERPRINT": "{{ fingerprints.results[ledger_crt_idx].stdout.split('=')[1] }}",
    "LEDGER_AMOUNT_SCALE": {{ ripple_connect_config.amount_decimal_scale }},
{% for key, value in ledger.config.iteritems() %}
    "LEDGER_{{ key | upper }}": "{{ value }}",
{% endfor %}
    "LEDGER_TLS_CAS": [
      "{{ ca_cert }}"{% if ledger.remotes | length > 0 %},{% endif %}

{% for remote in ledger.remotes | default([]) %}
      "{{ cert_path }}/{{ remote.trusted_cert }}"{% if not loop.last %},{% endif %}

{% endfor %}
    ]
  },

{% endfor %}
  "validator": {
{% if ilp_validator_enabled | bool %}
    "VALIDATOR_HOSTNAME": "{{ ilp_validator_host }}",
    "VALIDATOR_PORT": {{ ilp_validator_port }},
    "VALIDATOR_DB_URI": "{{ ripple_solution_db_dialect }}://{{ ilp_validator_db_user }}:{{ ilp_validator_db_pass }}@{{ ilp_validator_db_host }}:{{ ilp_validator_db_port }}/{{ ilp_validator_db_name }}",
{% for key, value in (ilp_validator_config | default({})).iteritems() %}
    "VALIDATOR_{{ key | upper }}": "{{ value }}",
{% endfor %}
    "VALIDATOR_ED25519_PUBLIC_KEY": "{{ validator_key.stdout_lines[0].split(' ')[2] }}",
    "VALIDATOR_ED25519_SECRET_KEY": "{{ validator_key.stdout_lines[1].split(' ')[2] }}",
    "VALIDATOR_TLS_KEY": "{{ key_path }}/{{ validator_crt_prefix }}-key.pem",
    "VALIDATOR_TLS_CERTIFICATE": "{{ cert_path }}/{{ validator_crt_prefix }}-crt.pem",
    "VALIDATOR_TLS_CAS": [
      "{{ ca_cert }}"{% if ilp_validator_remotes | length > 0 %},{% endif %}

{% for remote in ilp_validator_remotes | default([]) %}
      "{{ cert_path }}/{{ remote.trusted_cert }}"{% if not loop.last %},{% endif %}

{% endfor %}
    ]
{% endif %}
  },

  "connector": {
{% if fx_connector_enabled | bool %}
    "CONNECTOR_PORT": {{ fx_connector_port }},
    "CONNECTOR_DB_URI": "{{ ripple_solution_db_dialect }}://{{ fx_connector_db_user }}:{{ fx_connector_db_pass }}@{{ fx_connector_db_host }}:{{ fx_connector_db_port }}/{{ fx_connector_db_name }}",
    "CONNECTOR_TLS_KEY": "{{ key_path }}/{{ fx_connector_crt_prefix }}-key.pem",
    "CONNECTOR_TLS_CERTIFICATE": "{{ cert_path }}/{{ fx_connector_crt_prefix }}-crt.pem",
    "CONNECTOR_ADMIN_FINGERPRINT": "{{ fingerprints.results[fx_connector_crt_idx].stdout.split('=')[1] }}",
{% for key, value in (fx_connector_config | default({})).iteritems() %}
    "CONNECTOR_{{ key | upper }}": "{{ value }}",
{% endfor %}
{% for secret_result in connector_secrets.results %}
    "{{ secret_result.item }}": "{{ secret_result.stdout.split(' ')[2] }}",
{% endfor %}
    "CONNECTOR_TLS_CAS": [
      "{{ ca_cert }}"{% if fx_connector_remotes | length > 0 %},{% endif %}

{% for remote in fx_connector_remotes | default([]) %}
      "{{ cert_path }}/{{ remote.trusted_cert }}"{% if not loop.last %},{% endif %}

{% endfor %}
    ],
    "CONNECTOR_LEDGER_CREDENTIALS": {
{% for ledger in ilp_ledgers | default([]) %}
      "{% if ledger.config.auth_client_cert_enabled | default(False) | bool %}https{% else %}http{% endif %}://{{ ledger.host }}:{{ ledger.port }}/account/connector": {
        "authorized_access_fingerprints": [
          "{{ fingerprints.results[ripple_connect_crt_idx].stdout.split('=')[1] }}"
        ],
        "cert": "{{ key_path }}/{{ fx_connector_crt_prefix }}-key.pem",
        "key": "{{ cert_path }}/{{ fx_connector_crt_prefix }}-crt.pem",
        "ca": [
          "{{ ca_cert }}"
        ]
      }{% if fx_connector_ledgers | default([]) | length > 0 %},{% endif %}

{% endfor %}
{% for ledger in fx_connector_ledgers | default([]) %}
      "{{ ledger.url }}/account/connector": {
        "authorized_access_fingerprints": [
{% for f in ledger.fingerprints | default([]) %}
          "{{ f }}"{% if not loop.last %},{% endif %}

{% endfor %}
        ],
        "cert": "{{ key_path }}/{{ fx_connector_crt_prefix }}-key.pem",
        "key": "{{ cert_path }}/{{ fx_connector_crt_prefix }}-crt.pem",
        "ca": [
          "{{ ca_cert }}"
        ]
      }{% if not loop.last %},{% endif %}

{% endfor %}
    },
    "CONNECTOR_PAIRS": [
{% for pair in fx_connector_pairs | default([]) %}
      [
        "{{ pair.source }}",
        "{{ pair.dest }}"
      ]{% if not loop.last %},{% endif %}

{% endfor %}
    ]
{% endif %}
  }
}