[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
prompt             = no
x509_extensions    = v3_ca

[req_distinguished_name]
commonName             = {{ ansible_fqdn }} Host CA
organizationName       = Earthport Plc
organizationalUnitName = IT Operations, Linux Group
localityName           = London
stateOrProvinceName    = London
countryName            = UK
emailAddress           = linuxgroup@earthport.com

[v3_ca]
basicConstraints = CA:TRUE, pathlen:0
