{
  "client_credentials": {
    "partner": [
{% for item in ripple_solution_partners %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_partner_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],
    "operator": [
{% for item in ripple_solution_operators %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_operator_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],
    "custom_rate_operator": [
{% for item in ripple_solution_custom_rate_operator %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_custom_rate_operators_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],
    "monitor": [
{% for item in ripple_solution_monitors %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_monitor_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ]
  },

  "external_credentials_password_key": "{{ key_path }}/{{ ripple_solution_admin_crt_prefix }}-key.pem",
  "external_credentials": {
{% for item in ripple_solution_known_remotes %}
      "{{ item.ripple_connect_address }}": {
        "id": "{{ item.username }}",
        "encrypted_password": "{{ encrypted_known_remote_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
  },

  "ilp_credentials": {
{% for ledger in ilp_ledgers %}
    "https://{{ ledger.host }}:{{ ledger.port }}/account/transact": {
      "cert_path": "{{ cert_path }}/{{ ripple_connect_crt_prefix }}-crt.pem",
      "key_path": "{{ key_path }}/{{ ripple_connect_crt_prefix }}-key.pem",
      "ca_path": "{{ ca_cert }}"
    }{% if not loop.last %},{% endif %}

{% endfor %}
  },

  "database_username": "{{ ripple_connect_db_user }}",
  "encrypted_database_password": "{{ encrypted_database_password.stdout_lines[0] }}",
  "encrypted_database_password_key": "{{ key_path }}/{{ ripple_solution_admin_crt_prefix }}-key.pem",

{% for secret_result in ripple_connect_secrets.results %}
  "{{ secret_result.item }}": "{{ secret_result.stdout.split(' ')[2] }}",
{% endfor %}

  "usage_reports_key_path": "",
  "usage_reports_ripple_solution_cert_base": ""
}