{
  "client_credentials": [
    "partner": [
{% for item in ripple_solution_partners %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_partner_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],
    "operator": [
{% for item in ripple_solution_operators %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_operator_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],
    "custom_rate_operator": [
{% for item in ripple_solution_custom_rate_operator %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_custom_rate_operators_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ],
    "monitor": [
{% for item in ripple_solution_monitors %}
      {
        "id": "{{ item.username }}",
        "hashed_password": "{{ hashed_monitor_passwords.results[loop.index0].stdout_lines[0] }}"
      }{% if not loop.last %},{% endif %}

{% endfor %}
    ]
  ]
}