# {{ ansible_managed }}

/var/log/ripple-solution/*out.log
/var/log/ripple-solution/*err.log
/var/log/ripple-solution.log {
    weekly
    rotate 13
    maxsize 250M
    compress
    missingok
    notifempty
    copytruncate
    create 644 {{ ripple_solution_user }} {{ ripple_solution_group }}
}
