/var/log/ripple-solution/*out.log
/var/log/ripple-solution/*err.log
/var/log/ripple-solution.log {
    rotate 90
    daily
    compress
    missingok
    notifempty
    copytruncate
    create 644 {{ ripple_solution_user }} {{ ripple_solution_group }}
}
